{{define "base"}}
<!DOCTYPE html>
<html>
<head>
  <title>Go Schedule</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/assets/css/main.css" rel="stylesheet" media="screen">
</head>
<body>
  <div class="navbar navbar-static-top">
    <div class="container">
      <a class="navbar-brand" href="/">Go Schedule</a>
    </div>
  </div>
  {{template "body" .}}
  <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
</body>
</html>
{{end}}