{{define "body"}}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>Go Schedule 
        <small>a better time schedule</small>
        </h1>
      </div>
      <p>Go Schedule is a student project to improve the University of Washington time schedule</p>
      <p>Written in <a href="http://golang.org">Go</a>, a language built for speed and simplicity.</p>
      <br />
      <a href="schedule" class="btn btn-primary">Go to the departments list</a>
    </div>
  </div>
</div>
{{end}}