{{define "body"}}
<style>
  .label-white {
    background-color: white;
    color: black;
  } 
  .label-primary {
    background-color: #428bca;
    color: white;
  }
  .thin-h6 {
    margin-bottom: 2px;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul class="breadcrumb">
        <li><a href="/schedule">Departments</a></li>
        <li><a href="/schedule/{{.dept}}">{{upper .dept}}</a></li>
        <li><a href="/schedule/{{.dept}}/{{.class}}">{{upper .class}}</a></li>
      </ul>
      <h1>Sections</h1>
    </div>
  </div>
  {{range .sects}}
    <div class="row">
      <div class="col-lg-7 col-sm-12 col-12">
        <div class="row">
          <div class="col-lg-7 col-sm-7 col-12">
            <div class="row">
              <div class="col-lg-3 col-sm-3 col-3">
                <span style="font-size: 20px;"><strong>{{.SLN}}</strong></span><br />
                <h5><small>section&nbsp;&nbsp;&nbsp;</small>{{.Section}}</h5>
                <h5><small>credit&nbsp;&nbsp;&nbsp;</small>{{.Credit}}</h5>
              </div>
              <div class="col-lg-3 col-sm-4 col-4">
                <h6 class="text-muted thin-h6">Status</h6>
                <h4 style="margin-top: 0px;">
                  {{if .IsOpen}}
                    <span class="label label-success">Open</span>
                  {{else}}
                    <span class="label label-danger">Closed</span>
                  {{end}}
                </h4>
                {{.TakenSpots}} / {{.TotalSpots}}
              </div>
              <div class="col-lg-6 col-sm-5 col-5">
                <h6 class="text-muted thin-h6">Meeting Times</h6>
                {{range .GetMeetingTimes}}
                  <p>
                    <span class="label {{if .MapDays.m}}label-primary{{else}}label-white{{end}}">M</span>
                    <span class="label {{if .MapDays.t}}label-primary{{else}}label-white{{end}}">Tu</span>
                    <span class="label {{if .MapDays.w}}label-primary{{else}}label-white{{end}}">W</span>
                    <span class="label {{if .MapDays.th}}label-primary{{else}}label-white{{end}}">Th</span>
                    <span class="label {{if .MapDays.f}}label-primary{{else}}label-white{{end}}">F</span>
                    <br />
                    {{.Time}}<br /> 
                    {{.Building}} {{.Room}}
                  </p>
                {{end}}
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-sm-5 col-12">
            <div class="row">
              <div class="col-lg-12 col-sm-12 col-12">
                <h6 class="text-muted thin-h6">Other</h6>
                {{range .GetRestriction}}
                  {{range $token, $yes := .}}
                    {{if $yes}}
                    <span class="label label-info">{{$token}}</span>
                    {{else}}
                    <span class="label label-white">{{$token}}</span>
                    {{end}}
                  {{end}}
                {{end}}
                <br class="hidden-sm" />
                {{with .Fee}}
                  <span class="label label-info">{{.}}</span>
                {{else}}
                  <span class="label label-white">No fee</span>
                {{end}} 
                <br class="hidden-sm" />
                {{range .GetGradesTokens}}
                  {{range $token, $yes := .}}
                    {{if $yes}}
                    <span class="label label-info">{{$token}}</span>
                    {{else}}
                    <span class="label label-white">{{$token}}</span>
                    {{end}}
                  {{end}}
                {{end}}
                <br class="hidden-sm" />
                {{range .GetOtherTokens}}
                  {{range $token, $yes := .}}
                    {{if $yes}}
                    <span class="label label-info">{{$token}}</span>
                    {{else}}
                    <span class="label label-white">{{$token}}</span>
                    {{end}}
                  {{end}}
                {{end}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-sm-12 col-12">
        <h6 class="text-muted thin-h6">Info</h6>
        Taught by: <strong>{{with .Instructor}}{{.}}{{else}}n/a{{end}}</strong>
        <br />
        {{.Info}}
      </div>
    </div>
    <br />
    <br class="hidden-lg" />
  {{end}}
</div>
{{end}}
