{{define "base"}}
<!DOCTYPE html>
<html>
<head>
  <title>Go Schedule</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44444393-1', 'go-schedule.com');
    ga('send', 'pageview');

  </script>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Go Schedule</a>
      </div>
        <form class="navbar-form navbar-left" role="search" action="/" method="get">
          <div class="form-group">
            <div id="magic-search-box-div" class="dropdown">
                <input autocomplete="off" id="magic-search-box" type="text" class="form-control" data-toggle="dropdown" placeholder="search">
              <ul class="dropdown-menu dropdown-menu-content" role="menu" aria-labelledby="dLabel">
                <li role="presentation" class="dropdown-header"><strong>Help</strong></li><li class="disabled"><a href="#">Start typing a query like &#39archi&#39 or &#39cse1&#39...</a></li><li role="presentation" class="divider"></li><li role="presentation" class="dropdown-header"><strong>Filtering</strong></li><li class="disabled"><a href="#">Click the green button to change the filter</a></li><li class="disabled"><a href="#">Or type &#39.a&#39 (All), &#39.g&#39 (Colleges),</a></li><li class="disabled"><a href="#">&#39.d&#39 (Departments), or &#39.c&#39 (Classes)</a></li>
              </ul>
            </div>
          </div>
          <input id="category-input" type="hidden" name="category" value="All">
          <a id="category-selector" class="btn btn-success" style="width: 120px;">All</a>
        </form>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/kvu787/goschedule">GitHub</a></li>
        </ul>
        <button type="button" data-toggle="modal" href="#help-modal" class="btn btn-primary navbar-btn navbar-right">Schedule Help</button>
      </div>
    </div>
  </nav>
  {{template "body" .}}
  <!-- Modal -->
    <div class="modal fade" id="help-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Time schedule help</h4>
          </div>
          <div class="modal-body">
            <h4>Basic info (left-most column)</h4>
            <table class="table table-condensed">
              <tbody>
                <tr>
                  <td><strong>SLN</strong></td>
                  <td>Unique identifier for a section.</td>
                </tr>
                <tr>
                  <td><strong>Section</strong></td>
                  <td>Identifier for a section within a class. Quiz sections are prefixed with their main section identifier.</td>
                </tr>
                <tr>
                  <td><strong>Credit</strong></td>
                  <td>Credits received from taking the section. Else, an abbreviation indicating a different type of section.</td>
                </tr>
              </tbody>
            </table>
            <h4>Status</h4>
            <p>Indicates whether enrollment for a section is closed or not.</p>
            <br />
            <h4>Meeting Times</h4>
            <p>When/where a section is held. Some sections may have multiple meeting times, or none at all if they have not been arranged.</p>       
            <br />
            <h4>Other</h4>
            <p>Each section may or may not have these attributes.</p>
            <table class="table table-condensed">
              <tbody>
                <tr>
                  <td><strong>Restr</strong></td>
                  <td>Indicates there are Class, Major, or College requirements that restrict registration into this section.</td>
                </tr>
                <tr>
                  <td><strong>></strong></td>
                  <td>Add Code required.</td>
                </tr>
                <tr>
                  <td><strong>IS</strong></td>
                  <td>Independent Study: Faculty Code required.</td>
                </tr>
                <tr>
                  <td><strong>No fee / $***</strong></td>
                  <td>Some courses require additional fees beyond tuition. Course fees are still owed for courses dropped after the fourteenth calendar day of the quarter. Contact the offering department for possible course fee refund after the fourteenth calendar day.</td>
                </tr>
                <tr>
                  <td><strong>CR/NC</strong></td>
                  <td>Credit/No-Credit grading.</td>
                </tr>
                <tr>
                  <td><strong>D</strong></td>
                  <td>Distance learning (51% or more of the course instruction for this course is through some mode of distance learning).</td>
                </tr>
                <tr>
                  <td><strong>H</strong></td>
                  <td>Honors section.</td>
                </tr>
                <tr>
                  <td><strong>J</strong></td>
                  <td>Jointly offered course (Select the SLN to see Joint Curriculum).</td>
                </tr> 
                <tr>
                  <td><strong>R</strong></td>
                  <td>Research.</td>
                </tr>
                <tr>
                  <td><strong>S</strong></td>
                  <td>Service learning.</td>
                </tr>
                <tr>
                  <td><strong>W</strong></td>
                  <td>Writing section.</td>
                </tr> 
                <tr>
                  <td><strong>%</strong></td>
                  <td>New course.</td>
                </tr>
                <tr>
                  <td><strong>#</strong></td>
                  <td>This course is not eligible for some or all types of Financial Aid. Select course SLN for more details.</td>
                </tr>
              </tbody>
            </table>               
          </div>
          <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn btn-default">Close</a>
          </div>
        </div>
      </div>
    </div>
  <!-- end modal, TODO: move to partial -->
  <!-- offline -->
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <!-- online -->
  <!--<script src="http://code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js"></script>-->
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.min.js"></script>
  
  <script src="/assets/js/main.js"></script>
  {{template "pagejs"}}

</body>
</html>
{{end}}
