{{define "body"}}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul class="breadcrumb">
        <li><a href="/schedule">Departments</a></li>
        <li><a href="/schedule/{{.dept}}">{{upper .dept}}</a></li>
      </ul>
      <h1>Classes</h1>
      <div class="panel panel-primary">
        <div class="panel-body">
          <input type="checkbox" id="toggle-class-description"> Hide class descriptions
        </div>
      </div>
    </div>
  </div>
  {{range .classes}}
    <div class="row">
      <div class="col-lg-3 col-md-2 col-sm-3">
          <a href="/schedule/{{.DeptKey}}/{{.AbbreviationCode}}">
            <h4 style="margin-top: 0;">
              <span class="visible-xs">
                <span style="display:inline; background-color:#FCEB95;">
                  {{.Code}} <small style="color:#7D7D7D;">{{upper .Title}}</small>
                </span>
              </span>
              <span class="hidden-xs">{{.Code}} <small>{{upper .Title}}</small></span>
            </h4>
          </a>
      </div>
      <div class="col-lg-7 col-md-10 col-sm-9">
        <p>{{.DescriptionHTML}}</p>
      </div>
    </div>
    <br />
  {{end}}
</div>
{{end}}