{{define "body"}}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Warning!</strong> Go Schedule is still in development. Check the <a href="http://www.washington.edu/students/timeschd/AUT2013/">old time schedule</a> before you actually register for classes.
      </div>
      <div class="page-header">
        <h1>Go Schedule 
        <small>a better time schedule</small>
        </h1>
      </div>
      <p>Go Schedule is a student project to improve the University of Washington time schedule.</p>
      <p><a href="https://github.com/kvu787/goschedule">Written</a> in <a href="http://golang.org">Go</a>, a language built for speed and simplicity.</p>
      <br />
      <a href="schedule" class="btn btn-primary btn-lg "><b>Go to the departments list</b></a>
      <a id="test-ajax">Test ajax</a> 
    </div>
  </div>
</div>
{{end}}