{{define "body"}}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Go Schedule now serves the <a style="text-decoration: underline;" href="https://www.washington.edu/students/timeschd/WIN2014/">winter time schedule</a>.</strong> May winter class registration bring you tidings of relief and joy! </div>
      <div class="page-header">
        <h1>Go Schedule 
        <small>a better time schedule</small>
        </h1>
      </div>
      <p>Go Schedule is a student project to improve the University of Washington time schedule.</p>
      <p><a href="https://github.com/kvu787/goschedule">Written</a> in <a href="http://golang.org">Go</a>, a language built for speed and simplicity.</p>
      <br />
      <a href="schedule" class="btn btn-primary btn-lg "><b>Go to the departments list</b></a>
    </div>
  </div>
</div>
{{end}}
{{define "pagejs"}}
{{end}}